* {
    background-color: #dad7cd;
    box-sizing: border-box;
}

#title {
    font-family: sans-serif, serif;
    text-align: center;
    background-color: #e07a5f;
    color: #282d4d;
}

.recipes {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;

    
}

.recipes > * {
    flex: 1 1 0;
    flex-direction: row;
    

    padding: 20px;

    list-style: none;
    background-color: #81b29a;
}

img {
    height: 300px;
    width: auto;
}

a:link, a:visited, a:active{
    color: black;
    text-decoration: none;
    background-color: #7aa79075;
}

a:hover{
    color: red;
}
